black==24.10.0
eda_toolkit==0.0.19
# -e .
loguru==0.7.3
mlflow==2.19.0
model_metrics==0.0.4a10
model_tuner==0.0.34b1
nbstripout==0.8.1
openpyxl==3.1.5
python-dotenv==1.0.1
pytest==8.3.4
pytest-cov==6.0.0
shap==0.46.0
typer==0.15.1